

README.md

## Docker related files
docker-compose-dev.yml
Dockerfile

## Node modules
node_modules

## .yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

